/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 10px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }


.round-image-50{
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


header {
  height: 100%;
  overflow: hidden;
}


h1{

font-size: 50px;
text-align: center;
}

h2{

font-size: 20px;
text-align: right;
}

p{


font-size: 30px;
text-align: -webkit-right;

}


.btn-primary{
	background-color: #dff0d8;
}



.jumbotron{
	background: url("IMG_1863.JPG") center center ;/*chosen image =>you image*/	
	background-size: cover;
	padding-top:150px;
	padding-bottom: 100px;
	color: bisque;

	
}





a{
	text-center;
	
}





